nav#nav.nav.hidden.pcvisible
  ul
    li
      a(href="#header").
        Inicio
    li
      a(href="#ingreso").
        Ingreso
    li.menu-submenu
      a(href="#start") Cotizador Kaplan
      ul.submenu
        li.menu-submenu
          a(href="#menu") Menu
          ul.submenu.hide
            li
              a(href="#dropdown") Dropdown
    li
      a(href="#img") Images
    li
      a(href="#contenido") Contenido

include button-menu
