nav#nav.nav.hidden.pcvisible
  ul
    li
      a(href="#header").
        Inicio
    li
      a(href="#ingreso").
        Ingreso
    li.menu-submenu
      a(href="#secciones") Secciones
      ul.submenu
        li
          a(href="#landing") Principal
            li
              a(href="#adminconfig") Administración
                li
                  a(href="#cotizadores") Cotizadores
    li.menu-submenu
      a(href="#catalogos") Catálogos
      ul.submenu
        li
          a(href="#tasadecambio") Tasa de cambio
          li
            a(href="#moneda") Moneda             
    li
      a(href="#img") Images
    li
      a(href="#contenido") Contenido

include button-menu
