- var title        = "Manual de Usuario"
- var subtitle     = "Cotizador en línea"

- var facebook     = "http://facebook.com"
- var twitter      = "http://twitter.com"
- var instagram    = "http://instagram.com"
- var mail         = "mailto:"
- var googleplus   = "http://plus.google.com"
- var youtube      = "http://youtube.com"
- var pinterest    = "http://pinterest.com"
- var skype        = "http://skype.com"
- var slack        = "http://slack.com"
- var github       = "http://github.com"
- var gitlab       = "http://gitlab.com"
- var bitbucket    = "http://bitbucket.com"
- var linkedin     = "http://linkedin.com"
- var phone        = "tel:"
- var whatsapp     = "tel:"
